/* FIAMMA CALORIE*/
.stats-container .stats-grid:first-child .stat-number::before {
    content: "\1F525";
    display: block;
    font-size: 20px;
}
/* COLORE BACKGROUND TABELLA */
.stats-container .stats-grid:nth-child(3){
    background:linear-gradient(#2563eb, #7c3aed);
}
/* COLORE NUMERO TABELLA */
.stats-container .stats-grid:nth-child(3) .stat-number{
    color: white;
}
/* COLORE TESTO TABELLA*/
.stats-container .stats-grid:nth-child(3) .stat-label {
    color: white;
}
/* EFFETTO HOVER SULLE STATIC CARD*/
.stats-container .stats-grid {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.stats-container .stats-grid:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px rgba(0,0,0,0.18);
}
/* bordo sinistro della box e colore del background */
.workout-section .workout-plan:nth-of-type(2){
    border-left: 5px solid orange;
    background: #fff7cc;
}
/* BORDO SINISTRO E BACKGROUND COLORATI PRIMA E ULTIMA BOX */
.exercise-item:first-child,
.exercise-item:last-child{
    border-left: 5px solid rgb(40, 190, 20);
    background: #c8e6d28a;
}
/* EMOJI FULMINI */
.exercise-item:nth-of-type(even) .exercise-name::before{
  content: "\26A1";
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}
.goals-container input:focus,
.goals-container select:focus {
    border: 2px solid #2563eb;
    box-shadow: 0 0 6px rgba(37, 99, 235, 0.5);
    outline: none;
    transition: all 0.25 ease;
}